/* CSS VARIABLES */
:root {
  --primary: #b6895b;
  --main-background: #010101;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-background);
}
