/* CSS VARIABLES */
:root {
  --white: #fff;
  --primary: #b6895b;
  --main-background: #010101;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-background);
  color: var(--white);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #a97d50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* NAVBAR LOGO */
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}

.navbar .navbar-logo span {
  color: var(--primary);
}

/* NAVBAR LINK */
.navbar .navbar-nav a {
  font-weight: 500;
  color: var(--white);
  font-size: 1rem;

  /* Agar bisa diberikan margin */
  display: inline-block;
  margin: 0 12px;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
  transition: 0.2s ease-in-out;
}

/* GARIS DIBAWAH LINK KETIKA HOVER */
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
  transition: 0.2s linear;
}

/* NAVBAR EXTRA */
.navbar .navbar-extra a {
  color: var(--white);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* -------- MEDIA QUERIES  -------- */
/* LAPTOP */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  /* MENAMPILKAN HAMBURGER MENU */
  #hamburger-menu {
    display: inline-block;
  }

  /* MEMINDAHKAN POSISI UNTUK MENU SIDEBAR */
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;

    /* AGAR DILUAR LAYAR*/
    right: -100%;
    background-color: var(--white);

    /* MEMENUHI LAYAR */
    width: 30rem;
    height: 100vh;

    /* TRANSISI */
    transition: 0.3s;
  }

  /* MENAMBAHKAN CLASS ACTIVE KETIKA HAMBURGER MENU DIKLIK*/
  .navbar .navbar-nav.active {
    right: 0;
    z-index: 10;
  }

  .navbar .navbar-nav a {
    color: var(--main-background);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    /* background-color: tomato; */
  }

  /* MENGGESER KE KIRI */
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .overlay {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: blue;
    backdrop-filter: blur(3px);
  }
}

/* MOBILE */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
}
