/* CSS VARIABLES */
:root {
  --white: #fff;
  --primary: #b6895b;
  --main-background: #010101;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-background);
  /* background-color: bisque; */
  color: var(--white);
  min-height: 3000px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #a97d50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* NAVBAR LOGO */
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}

.navbar .navbar-logo span {
  color: var(--primary);
}

/* NAVBAR LINK */
.navbar .navbar-nav a {
  font-weight: 500;
  color: var(--white);
  font-size: 1rem;

  /* Agar bisa diberikan margin */
  display: inline-block;
  margin: 0 12px;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
  transition: 0.2s ease-in-out;
}

/* GARIS DIBAWAH LINK KETIKA HOVER */
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
  transition: 0.2s linear;
}

/* NAVBAR EXTRA */
.navbar .navbar-extra a {
  color: var(--white);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* POSISI YANG NON STATIS */
  position: relative;
}

/* MENAMBAHKAN GRADASI HITAM KE HERO IMAGE */
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;

  bottom: 0;

  /* UBAH TINGGI AGAR TIDAK MENGHALANGI BUTTON CTA */
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .hero-content {
  padding: 1.5rem 7%;
  max-width: 60rem;
  /* background-color: tomato; */
}

.hero .hero-content h1 {
  font-size: 5em;
  color: var(--white);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.hero .hero-content h1 span {
  color: var(--primary);
}

.hero .hero-content p {
  width: 85%;
  font-size: 1.5rem;
  margin-top: 1.25rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
  color: var(--white);
  /* background-color: tomato; */
}

.hero .hero-content .cta {
  margin-top: 1.5rem;
  display: inline-block;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 4px 16px rgba(43, 45, 48, 0.5);
}

/* ABOUT SECTION */
/* UNTUK PADDING TITLE SETIAP SECTION */
.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .about-content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .about-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about .row .about-content span {
  color: var(--primary);
}

.about .row .about-content p {
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
  line-height: 1.6;
}

/* MENU SECTION */
.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.menu p {
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: center;
  margin: auto;
}

.menu .menu-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .menu-row .menu-card {
  /* border: 2px solid tomato; */
  text-align: center;
  padding-bottom: 4rem;
}

.menu .menu-row .menu-card img {
  border-radius: 50%;
  width: 50%;
}

.menu .menu-row .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* CONTACT SECITION */
.contact .contact-header h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  text-align: center;
}
.contact .contact-header p {
  font-size: 1.25rem;
  line-height: 1.6;
  /* max-width: 30rem; */
  margin: auto;
  text-align: center;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  /* flex-wrap: wrap; */
}

.contact .row .contact-map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: baseline;
  margin-top: 2rem;
  background-color: var(--main-background);
  border: 1px solid #eee;
  padding-left: 2rem;

  border-radius: 0.5rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.25rem;
  background: none;
  color: var(--white);
}

.contact .row form button {
  display: inline-block;
  padding: 1rem 4rem;
  margin-top: 3rem;
  font-size: 1.25rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 8px;
  cursor: pointer;
}

/* -------- MEDIA QUERIES  -------- */
/* LAPTOP */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  /* MENAMPILKAN HAMBURGER MENU */
  #hamburger-menu {
    display: inline-block;
  }

  /* MEMINDAHKAN POSISI UNTUK MENU SIDEBAR */
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;

    /* AGAR DILUAR LAYAR*/
    right: -100%;
    background-color: var(--white);

    /* MEMENUHI LAYAR */
    width: 30rem;
    height: 100vh;

    /* TRANSISI */
    transition: 0.3s;
  }

  /* MENAMBAHKAN CLASS ACTIVE KETIKA HAMBURGER MENU DIKLIK*/
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--main-background);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  /* MENGGESER KE KIRI */
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero {
    min-height: 80vh;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .contact-map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }
}
